@{
    ViewData["Title"] = "thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger"> 
    <p>mã sinh viên:2310900045</p>
    <p>Họ tên : quách đức huy</p>
    <p>Lớp : K23CNT1</p>
    <p>Email:huychuoi05@gamil.com</p>
</div>
