@{
    ViewData["Title"] = " QdhRazorCode  ";
}

<h1>QdhRazorCode</h1>
<hr />
@{
    var name = "quach duc huy";
    var email = "huychuoi05@gmail.com";
    int age = 50;
}
<div>
    <h2>hien thi du lieu</h2>
    <p>Name:@name</p>
    <p>email:@email</p>
    <p>age:@age</p>
</div>
<h2>cau truc if</h2>
@{
    var total = 12345;

}
@{
    if (total > 10000)
    {
        <p>luong cao</p>

    }
    else
    {
        <p>luong thap</p>
    }
    if (is)
}
