@{
    ViewData["Title"] = "thông tin sinh viên ";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>mã sinh viên </p>
    <p>Họ và tên </p>
    <p>Email</p>
    <p>Điện thoại</p>
    <p>Lớp:K23cnt1</p>
</div>