
@{
    ViewData["Title"] = "thong tin member";
    var QdhMember = ViewBag.QdhmMember as QdhLesson6.DataModel.QdhMember;
}

<div class="alert alert-info">
    <h1>thông tin sinh viên </h1>
    <hr />
    <p>mã sinh viên :2310900045</p>
    <p>họ và tên :quách đức huy </p>
    <p>email: huychuoiiii@gmail.com</p>
    <p>sdt:0123456789</p>

</div>
