
@{
    ViewData["Title"] = "thong tin sinh vien";
}

<div class="alert alert-info">
    <h1>thông tin sinh viên </h1>
    <hr/>
    <p>mã sinh viên :2310900045</p>
    <p>họ và tên :quách đức huy </p>
    <p>email: huychuoiiii@gmail.com</p>
    <p>sdt:0123456789</p>
   
</div>

