@model Quachduchuy_2310900045.Models.QdhEmployee

<h2>Sửa thông tin nhân viên</h2>

<form asp-action="QdhEdit">
    <input type="hidden" asp-for="qdhEmpId" />
    <label>Tên:</label> <input asp-for="qdhEmpName" /><br />
    <label>Level:</label> <input asp-for="qdhEmpLevel" /><br />
    <label>Ngày bắt đầu:</label> <input asp-for="qdhEmpStartDate" type="date" /><br />
    <label>Trạng thái:</label> <input asp-for="qdhEmpStatus" type="checkbox" /><br />
    <button type="submit">Cập nhật</button>
</form>

<a href="/QdhEmployee/QdhIndex">Quay lại</a>
