@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>QdhEdit</h1>

<h4>QdhEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="QdhEdit">
            <input type="hidden" asp-for="QdhId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="QdhName" class="control-label"></label>
                <input asp-for="QdhName" class="form-control" />
                <span asp-validation-for="QdhName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QdhBirthDay" class="control-label"></label>
                <input asp-for="QdhBirthDay" class="form-control" />
                <span asp-validation-for="QdhBirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QdhEmail" class="control-label"></label>
                <input asp-for="QdhEmail" class="form-control" />
                <span asp-validation-for="QdhEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QdhPhone" class="control-label"></label>
                <input asp-for="QdhPhone" class="form-control" />
                <span asp-validation-for="QdhPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QdhSalary" class="control-label"></label>
                <input asp-for="QdhSalary" class="form-control" />
                <span asp-validation-for="QdhSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Trạng thái</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="QdhStatus" value="1" id="statusActive" />
                    <label class="form-check-label" for="statusActive">Đi làm</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="QdhStatus" value="2" id="statusInactive" />
                    <label class="form-check-label" for="statusInactive">Nghỉ</label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="QdhIndex1">Back to List</a>
</div>