@{
    ViewData["Title"] = "thong tin sinh vien ";
}


<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Ma sinh vien:2310900045</p>
    <p>hoj và tên : Quách đức huy </p>
    <p>Email: huychuoi05@gmail.com</p>
   <p>Điện thoại: 0328966457</p>
</div>